# Code generation
vue/node_modules
vue/dist
release/

# IDE
.idea
.envrc

# Localnet
localnet/node?/data/*.db
localnet/node?/data/snapshots
localnet/node?/data/cs.wal
localnet/node?/config/addrbook.json
localnet/node?/config/write-file-atomic-*