# Code generation
vue/node_modules
vue/dist
release/

# IDE
.idea
.envrc
.vscode

# OS
.DS_Store

# Localnet
localnet/*/node?/data/*.db
localnet/*/node?/data/snapshots
localnet/*/node?/data/cs.wal
localnet/*/node?/config/genesis.json
localnet/*/node?/config/addrbook.json
localnet/*/node?/config/write-file-atomic-*
localnet/__pycache__/
localnet/spncs.yaml/
localnet/cs.yaml/
localnet/vs.yaml/

# Generate report files
*.out
*.test
cover.html

# Frontend
ignite-ui