# Code generation
vue/node_modules
vue/dist
release/

# IDE
.idea
.envrc
.vscode

# Localnet
localnet/node?/data/*.db
localnet/node?/data/snapshots
localnet/node?/data/cs.wal
localnet/node?/config/genesis.json
localnet/node?/config/addrbook.json
localnet/node?/config/write-file-atomic-*

# Scripts
scripts/test_fundraising/sale.json
scripts/test_fundraising/auction.json
scripts/test_fundraising/__pycache__/

# Generate report files
*.out
*.test
cover.html

# Frontend
ignite-ui